# Análise do Titanic - Parte 4

## Importando as bases de dados de treino e teste

In [48]:
import pandas as pd

treino = pd.read_csv('Parte 2/base_parte2.csv')
teste = pd.read_csv('Parte 2/base_teste_parte2.csv')

In [49]:
treino.head(3)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,MaleCheck,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,male,22.0,1,0,7.2500,S,1,0,0,1
1,2,1,1,female,38.0,1,0,71.2833,C,0,1,0,0
2,3,1,3,female,26.0,0,0,7.9250,S,0,0,0,1

In [50]:
treino = treino.drop('Sex', axis=1)
teste = teste.drop('Sex', axis=1)

In [51]:
from sklearn.preprocessing import RobustScaler

transformer = RobustScaler().fit(treino[['Age', 'Fare']])
treino[['Age', 'Fare']] = transformer.transform(treino[['Age', 'Fare']])

transformer_teste = RobustScaler().fit(teste[['Age', 'Fare']])
teste[['Age', 'Fare']] = transformer_teste.transform(teste[['Age', 'Fare']])

In [52]:
treino.head(3)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,MaleCheck,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,-0.592240,1,0,-0.312011,S,1,0,0,1
1,2,1,1,0.638529,1,0,2.461242,C,0,1,0,0
2,3,1,3,-0.284548,0,0,-0.282777,S,0,0,0,1

In [53]:
def sozinho(a, b):
    if (a == 0 and b == 0):
        return 1
    else:
        return 0

In [54]:
treino['Sozinho'] = treino.apply(lambda x: sozinho(x.SibSp, x.Parch), axis=1)

teste['Sozinho'] = teste.apply(lambda x: sozinho(x.SibSp, x.Parch), axis=1)

In [55]:
treino['Familiares'] = treino.SibSp + treino.Parch

teste['Familiares'] = teste.SibSp + teste.Parch

In [56]:
treino.head(3)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,MaleCheck,Embarked_C,Embarked_Q,Embarked_S,Sozinho,Familiares
0,1,0,3,-0.592240,1,0,-0.312011,S,1,0,0,1,0,1
1,2,1,1,0.638529,1,0,2.461242,C,0,1,0,0,0,1
2,3,1,3,-0.284548,0,0,-0.282777,S,0,0,0,1,1,0

In [57]:
treino2 = pd.read_csv('DataBase/train.csv')
teste2 = pd.read_csv('DataBase/test.csv')

treino2.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [58]:
treino2['Embarked'] = treino2['Embarked'].fillna('S')

In [59]:
from sklearn.preprocessing import OrdinalEncoder

categorias = ['S', 'C', 'Q']

enc = OrdinalEncoder(categories=[categorias], dtype='int32')

enc = enc.fit(treino2[['Embarked']])

In [60]:
# Voltando para a base de treino original
treino['Embarked'] = enc.transform(treino2[['Embarked']])

In [61]:
enc = enc.fit(teste2[['Embarked']])

In [62]:
# Voltando para a base de teste original
teste['Embarked'] = enc.transform(teste2[['Embarked']])

In [63]:
treino.head(3)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,MaleCheck,Embarked_C,Embarked_Q,Embarked_S,Sozinho,Familiares
0,1,0,3,-0.592240,1,0,-0.312011,0,1,0,0,1,0,1
1,2,1,1,0.638529,1,0,2.461242,1,0,1,0,0,0,1
2,3,1,3,-0.284548,0,0,-0.282777,0,0,0,0,1,1,0

In [64]:
treino = treino.drop(['Embarked_C', 'Embarked_S', 'Embarked_Q'], axis=1)

teste = teste.drop(['Embarked_C', 'Embarked_S', 'Embarked_Q'], axis=1)

In [65]:
treino.head(3)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,MaleCheck,Sozinho,Familiares
0,1,0,3,-0.592240,1,0,-0.312011,0,1,0,1
1,2,1,1,0.638529,1,0,2.461242,1,0,0,1
2,3,1,3,-0.284548,0,0,-0.282777,0,0,1,0

### Nesta parte iremos testar outro modelos para realizar a previsão

* Nas partes anteriores, nós estávamos focando em: Árvore de Decisão, KNN e Regressão Logística. Dos três, Regressão Logística apresentou uma maior acurácia, logo iremos manter.

* Outro modelos disponíveis são:
    - Random Forest:

    - MLPClassifier (Redes Neurais):

In [66]:
from sklearn.model_selection import train_test_split

In [67]:
X = treino.drop(['PassengerId', 'Survived'], axis=1)
y = treino.Survived

In [68]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=42)

* Regressão Logística

In [69]:
from sklearn.linear_model import LogisticRegression

clf_rl = LogisticRegression(random_state=42)

clf_rl = clf_rl.fit(X_train, y_train)

y_pred_rl = clf_rl.predict(X_val)

* Random Forest

In [70]:
from sklearn.ensemble import RandomForestClassifier

clf_rf = RandomForestClassifier(random_state=42)

clf_rf = clf_rf.fit(X_train, y_train)

y_pred_rf = clf_rf.predict(X_val)

* MLPClassifier (Redes Neurais)

In [71]:
from sklearn.neural_network import MLPClassifier

clf_mlp = MLPClassifier(random_state=42, max_iter=5000)

clf_mlp = clf_mlp.fit(X_train, y_train)

y_pred_mlp = clf_mlp.predict(X_val)

### Avaliação dos modelos

* Acurácia

In [73]:
from sklearn.metrics import accuracy_score

In [74]:
# Regressão Logística
as_rl = accuracy_score(y_val, y_pred_rl)
as_rl

0.8067796610169492

In [75]:
# Random Forest
as_rf = accuracy_score(y_val, y_pred_rf)
as_rf

0.7898305084745763

In [76]:
# Redes Neurais
as_mlp = accuracy_score(y_val, y_pred_mlp)
as_mlp

0.8305084745762712

* Matriz de Confusão

In [77]:
from sklearn.metrics import confusion_matrix

In [78]:
# Regressão Logística
cm_rl = confusion_matrix(y_val, y_pred_rl)
cm_rl

array([[152,  23],
       [ 34,  86]], dtype=int64)

In [79]:
# Random Forest
cm_rf = confusion_matrix(y_val, y_pred_rf)
cm_rf

array([[148,  27],
       [ 35,  85]], dtype=int64)

In [80]:
# Redes Neurais
cm_mlp = confusion_matrix(y_val, y_pred_mlp)
cm_mlp

array([[160,  15],
       [ 35,  85]], dtype=int64)

* Nota-se que, o modelo de Redes Neurais utilizando MLPClassifier é o que tem a maior taxa de acerto.

### Fazendo a previsão para os dados de teste

In [81]:
X_teste = teste.drop('PassengerId', axis=1)

In [82]:
y_pred = clf_mlp.predict(X_teste)

In [83]:
teste['Survived'] = y_pred

In [ ]:
base_envio = teste[['PassengerId', 'Survived']]

base_envio.to_csv('titanic_previsao4.csv', index=False)

* Uma pontuação no Kaggle de 0.74880

* Podemos notar que houve uma piora em relação ao modelo proposto na Parte 3 com Regressão Logística realizando o tratamento de escala para as colunas Age e Fare